.container{
    background-color:rgba(128, 128, 128, 0.329);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}
a,p{
     color:  rgb(0, 87, 128);
}
.boutons_crud{
    vertical-align: auto;
}

#connect_color{
    background-color: pink;
    color: white;
}
