{% extends 'base.html.twig' %}

{% block title %}Nouvelle Photo{% endblock %}

{% block myTitle %}Nouvelle photo{% endblock %}

{% block body %}


    {{ include('photo/_form.html.twig') }}

    <a href="{{ path('photos_admin') }}">Retour à la liste</a>
{% endblock %}
