{% extends 'base.html.twig' %}

{% block title %}F6KSV Bienvenue !{% endblock %}

{% block myTitle %}Les photos{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
<div class="container mt-5">
    <div class="row">
        {% for photo in photos %}
            <div class="col-4 p-1 m-0 mt-5">
                <div class="card">
                    <a href="{{asset('images/' ~ photo.image)}}" target="_blank" style="max-height: 200px; max-width: 100%;"><img src="{{asset('images/' ~ photo.image)}}" class="card-img-top" alt="..." style="max-height: 200px; max-width: 100%;"></a>
                </div>
            </div>    
        {% endfor %}
    </div>
    <div class="pagination mt-4 justify-content-center">
        {{knp_pagination_render(photos)}}
    </div>
</div>
{% endblock %}


