{% extends 'base.html.twig' %}

{% block title %}Edition Article{% endblock %}

{% block myTitle %}Edition de l'article{% endblock %}

{% block body %}


    {{ include('article/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('article/_delete_form.html.twig') }}

    <a href="{{ path('articles_admin') }}">Retour à la liste</a>
    
{% endblock %}
