{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block myTitle %}Nouvel article{% endblock %}

{% block body %}


    {{ include('article/_form.html.twig') }}

    <button class="btn btn-warning"><a href="{{ path('articles_admin') }}">Retour</a></button>
    
{% endblock %}
